

<!DOCTYPE html>
<html lang="en">
<head>
    <title>ContactUs</title>
</head>
<body>
    <center>
        <h1  style="color: rgb(205, 107, 167); border: 2px solid rgb(0, 106, 135);margin: 30px; padding:10px;"> Contact Us </h1> 
        <form action="" method="get">
        <img src="../static/mm-cookies.jpg" alt="cookies" width="140""> <br> <br>

        <label for="cookieType" style="color: rgb(218, 40, 206);border: 1px solid rgb(100, 165, 225);margin: 20px; padding:3px;">Favorite cookie type:</label> 
        <input type="text" name="cookieType" id="cookieType" > <br> <br>
        <label for="topping" style="color:  rgb(212, 16, 137);border: 1px solid rgb(100, 165, 225);margin: 20px; padding:3px;">Favorite topping:</label>
        <input type="text" name="topping" id="topping" required> <br> <br>
        <label for="texture" style="color:  rgb(212, 16, 137);border: 1px solid rgb(100, 165, 225);margin:10px; padding:3px;"> Favorite cookie texture: </label> <br> <br>
        <input type="text" name="texture" id="texture"> <br> <br>
        <label for="PhoneNumber" style="color:  rgb(236, 21, 193);border: 1px solid rgb(100, 165, 225);margin: 20px; padding:3px;">Customer Phone Number:</label>
        <input type="tel" name="PhoneNumber" id="PhoneNumber" required pattern="[0][5][0-9]-[0-9][0-9][0-9][0-9][0-9][0-9][0-9]" > <br> <br>

        <label for="flavor" style="color:  rgb(234, 15, 197);border: 1px solid rgb(100, 165, 225);margin: 20px; padding:3px;">Favorite flavor:</label>
        <input list= flavorList name="flavor" id="flavor" > 
        <datalist id= "flavorList">
            <option value = "chocolate">
            <option value = "vanilla">
            <option value = "velvet">
        </datalist> <br> <br>

        <label for="additionalInfo" style="color:  rgb(240, 23, 156);border: 1px solid rgb(100, 165, 225);margin: 20px; padding:3px;">Additional information:</label> <br> <br>
        <textarea id="additional" name="additional" placeholder="Add requests" style="height:90px;width: 250px;" ;required minlength="10" maxlength="200"></textarea>  <br> <br>
        
        <input type="submit" name="submit" id="submit"> <br> <br>
    </center>

    <nav> 
        <div>
            <h3 style="border: 2px solid rgb(231, 16, 198);margin: 10px; padding: 6px;">Navigator Bar</h3>
            <a href="homepage.html"> Back to Home Page</a>
        </div>
    
    </nav>

    </form>
</body>
</html>