<!DOCTYPE html>
<html lang="en">
<head>
    <title>Assignment 1</title>
</head>
<body>
    <center> 
        <h1 style="color: rgb(128, 0, 122);border: 2px solid rgb(73, 196, 221);margin: 10px; padding: 4px;">Reut's Homepage</h1>
        <p style="color: rgb(119, 7, 7); border: 2px solid rgb(50, 110, 167);margin: 10px; padding: 10px; font-size: large;">
            This is the first assignment in our Web class. <br>
            
        </p>
        <img src="../static/mm-cookies.jpg" alt="cookies" width="180"">
        </center>


    
    <nav> 
<div>
    <h3 style="border: 2px solid rgb(89, 99, 108);margin: 10px; padding: 6px;">Navigator Bar</h3>
    <a href="Contact Us.html"> Contact Us</a>

</div>
    </nav>
</body>
</html>
