<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Assignment 1</title>
    <link rel="stylesheet" href="..//static/cookiesStyler.css">
    <script defer src="..//static/CookiesJS.js"></script>
</head>



<header id = header>
        <nav>
          <ul class="nav_links">
           <li><a href = "homepage.html"> Homepage</a></li>
           <li><a href = "Contact Us.html"> Contact Us</a></li>
          </ul>   
        </nav>

        <a class = "cta" href ="#"><button>Reut's Cookie Shop</button></a>
 </header>
        

 <body>

    <div id="containter">
    <div id =centerHome> 
        <h1  class=title-Homepage >Cookie Shop Homepage</h1>
        <p class = p1> Welcome to our cookie shop. Enjoy! <br> </p>
        <img class="cookie1" src="../static/mm-cookies.jpg" alt="cookies">
    </div>

    
    <div id =footerHome >
        <h3 class=Homepage> There's nothing better than a good cookie... </h3>
    </div>
   
    <form action="" method="get">

        <input id = ingredient type="ingredient" value="What's so special?" onclick = "PrintAfterSubmit()"><br> <br>
        <p id = "Text1"></p><br> 
    </form>
    
</div>
</body>

</html>
